.card{
    width:33.3%;
    height:fit-content;
    flex-direction: column;
    border:2px solid black;
    display: inline-flex;
    flex-wrap: wrap;
    float: left;
    text-align: center;
    margin-bottom:10px;
    align-items: center;
    box-sizing: border-box;
    padding:1rem;
    border-radius: 10px;
    background-color: #001b52;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    box-shadow:0 20px 40px -14px rgba(0,0,0,0.25);

}
.message{
    margin:5px;
    color:moccasin;
    font-weight: 600;
}
.label{
    color:white;
    font-weight: 600;
    margin-right:20px;
}
.texts{
    color:white;
}
.movienames{
    color:gold;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    font-weight: 700;
}
.posterbutton{
    margin-bottom:10px;
    color:#ffffff;
    padding:0.8rem;
    font-size:14px;
    text-transform: uppercase;
    border-radius:4px;
    display:block;
    width:100%;
    cursor:pointer;
    border:1px solid rgba(255,255,255,0.3);
    background-color:darkslategray;
}
.buttonclass{
    margin:3px;
}
.cardbody{
    margin-top:5px;
}
.mainpage{
    text-align: center;
    background:black;
}
.header{
    background-color: black;
    height:max-content;
    color:bisque;
}
.contactus{
    font-size: smaller;
}
.header2{
    height:60px;
    color:cadetblue;
    margin-bottom:10px;
}
.button{
    border-radius: 8px;
    color:cornsilk;
    background-color:darkslategrey;
    margin:5px;
}
.button:hover{
    background-color:chocolate;
}
.moviehead{
    color:red;
    font-size:large;
    font-weight: bold;
}
.link{
  margin:10px;
}

@media only screen and (min-width: 320px) {
   .card{
       width:100%;
   }
  }

  @media only screen and (min-width: 768px) {
    .card{
        width:50%;
    }
   }

   @media only screen and (min-width: 992px) {
    .card{
        width:33.3%;
    }
   }