.card{
    width:25%;
    flex-direction: column;
    border:2px solid black;
    display: inline-flex;
    border-color:black;
    flex-wrap: wrap;
    float: left;
    height: 420px;
    text-align: center;
    margin-bottom:10px;
    margin-top:10px;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    
    box-shadow:0 20px 40px -14px rgba(0,0,0,0.25);

}
.languagename{
    color:black;
    font-size: large;
    font-weight: 500;
}
.default{
    width:100%;
    height:fit-content;
    flex-direction: column;
    border:2px solid black;
    display: inline-flex;
    flex-wrap: wrap;
    float: left;
    color:white;
    text-align: center;
    margin-bottom:10px;
    align-items: center;
    box-sizing: border-box;
    padding:1rem;
    border-radius: 10px;
    background-color:black;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    box-shadow:0 20px 40px -14px rgba(0,0,0,0.25);

}
.message{
    margin:5px;
    color:moccasin;
    font-weight: 600;
}
.label{
    color:black;
    font-weight: 600;
    margin-right:20px;
}
.texts{
    color:white;
}
.movienames{
    color:black;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    font-weight: 700;
    background-color: grey;
    width: 100%;
    margin-bottom:5px;
    padding:10px;
}
.before{
    margin-top:30px;
    font-size:larger;
    color:white;
}
.posterbutton{
    margin-bottom:10px;
    color:black;
    padding:0.8rem;
    font-size:14px;
    text-transform: uppercase;
    border-radius:4px;
    display:block;
    width:100%;
    cursor:pointer;
    border:1px solid rgba(255,255,255,0.3);
    background-color:white;
    border-color:black;
    font-weight: 600;
}
.buttonclass{
    margin:10px;
    background-color:whitesmoke;
    padding:20px;
}
.cardbody{
    margin-top:5px;
}
.mainpage{
    text-align: center;
}
.header{
    height:max-content;
    color:honeydew;
    font-weight: bolder;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}
.header3{
    color:black;
    font-size:larger;
    font-weight: bolder;
}
.contactus{
    font-size: smaller;
}
.header2{
    height:60px;
    color:aquamarine;
    font-size: larger;
    font-weight: bold;
    margin-bottom:10px;
}
.button{
    border-radius: 8px;
    color:black;
    font-weight: 400;
    border-color:darkblue;
    width:max-content;
    box-shadow: 5px 10px black;
    background-color:cornflowerblue;
    margin:5px;
}
.button2{
    border-radius: 8px;
    margin-left: 4px;
}
.button:hover{
    background-color:chocolate;
}
.moviehead{
    color:red;
    font-size:large;
    font-weight: bold;
}
.link{
  margin:10px;
  background-color:white;
  border-color: black;
  border-radius: 12px;
}

@media only screen and (min-width: 320px) {
    .card{
        width:100%;
    }
   }
@media only screen and (min-width: 576px) {
   .card{
       width:50%;
   }
  }

  @media only screen and (min-width: 768px) {
    .card{
        width:50%;
    }
   }

   @media only screen and (min-width: 992px) {
    .card{
        width:25%;
    }
   }