.data{
    border: 2px solid black;
    height:100px;
    color:red;
    width:200px;
    text-align: center;
    display: inline-block;
}
.mainpage{
    text-align: center;
    background-color: black;
}
